.search {
  width: 100%;
}

.search-nav {
  display: flex;
}

.search-nav-menu {
  display: flex;
  flex-wrap: wrap;
}

.search-nav-menu__item {
  margin-right: 18px;
}

.search-nav-menu__item
.search-nav-menu__item-link {
  font-weight: 400;

  color: #0054b9;
}

.search-bar {
  display: flex;
  margin-top: 7px;
  margin-left: -135px;
}

.search-bar-label {
  padding: 5px 0;
  margin-right: 20px;

  font-weight: 700;
  font-size: 34px;
}

.search-bar-label::first-letter {
  color: #ff0000;
}

.search-bar-input {
  width: 100%;
  padding: 5px;

  border: 2px solid #ffcc00;
}

.search-bar-button {
  padding: 5px 20px 5px 15px;

  background-color: #ffcc00;
  border: none;

  cursor: pointer;

  clip-path: polygon(90% 0, 100% 50%, 100% 50%, 90% 100%, 0 100%, 0 50%, 0 0);
}

.search-advice {
  margin-top: 5px;
  margin-bottom: 0;

  font-size: 13.5px;
}

.search-advice__example {
  color: #90919d;
}