.ads {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 50px;
}

.ads__image-container {
  width: 100px;
}

.ads-image {
  border-radius: 100px;
}

.ads-title {
  margin-top: 10px;
  margin-bottom: 0;

  font-size: 18px;
}

.ads-title__link {
  color: #0054b9;
}

.ads-description {
  margin-top: 10px;
  margin-bottom: 0;

  font-size: 14.5px;
}